
<script>
    $(function() {
    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
   });
</script>


<br/>
<div class="booyah-box col-10 offset-1">
<div class="col-6 offset-3">
  <h2 class="text-center cr-show"><%= current_course.title %> </h2>
  </div>
  <br/>
  <%= image_tag current_course.photo, class: 'img-fluid' %>
  <%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning float-right'%>
  <br class="clr"/>
  <br/>
  <div class="text-left">
    <%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-md' %>
    </div>
    <ul>
      <% current_course.sections.each do |section| %>
       <li data-update-url="#" class="section-li">
         <div class="header">
          <i class="fa fa-area-chart" aria-hidden="true"></i>
         <%= section.title %>
        </div>  
        <%= link_to 'New Trip', new_instructor_section_lesson_path(section), class: 'float-left btn btn-primary btn-sm' %>
        <br class="clr" />
      <br class="clr" />
        <ul class="lessons">
        <% section.lessons.rank(:row_order).each do |lesson| %>
          <li data-item-id=<%= lesson.id %>>
          <div class="row">
            <div class="col-1">
            <br />
            <i class="fa fa-tree" aria-hidden="true"></i>
            </div>
        <div class="col-11 text-center">
        <hr>
         <p>
          <b><%= lesson.title %></b>
          </p>
          <p>
          <%= lesson.subtitle %>
          </p>
        </div>
        </div>
         <br class="clr" />
          </li>
          <% end %>
        </ul>
        <br class="clr"/>
      </li>
    <%end%>
    </ul>
</div>