<br/>

<div class="booyah-box col-10 offset-1">
  <h4 class="patricipate">I paticipate in:</h4>
  <% current_user.enrolled_courses.each do |course| %>
  <div class="col-6 offset-3">
    <h3 class="text-center title cr-show">
      <%= link_to course.title, course_path(course) %>
    </h3>
    </div>
    <br/>
 <!--      image_tag course.photo, class: 'img-fluid'  -->
      <div class="row">
        <div class="col-12 col-sm-8">
          <%= course.description %>
        </div>
        <div class="col-12 col-sm-4 text-center">
         <%= link_to "More Info..", course_path(course), class: 'btn btn-md btn-primary' %>
        </div>
      </div>
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>

  <h4 class="patricipate">I orginize: </h4>
<% current_user.courses.each do |course| %>
  <div class="col-6 offset-3">
  <h3 class="text-center title cr-show">
    <%= link_to course.title, course_path(course) %>
  </h3>
  </div>
  <br />
<!--   image_tag course.photo, class: 'img-fluid' -->
  <br />
  <div class="row">
    <div class="col-12 col-sm-8">
      <%= course.description %>
    </div>
    <div class="col-12 col-sm-4 text-center">
      <%= link_to "More Info...", course_path(course), class: 'btn btn-md btn-primary' %>
    </div>
  </div>
  <hr class="col-8 offset-2">
  <br class="clr" />
<% end %>