<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
  </head>

  <body>
  <div id="flex-content-container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-lable="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'Hiker', root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-1.5">
        <li class="nav-item">
          <h5><%= link_to 'See All Trips', courses_path %></h5>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in?%>
          <li class="nav-item  mr-auto mt-2 mt-md-1.5">
          <%= link_to 'My Dashboard', dashboard_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <%else%>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>

      </div>
     </nav> 
     <% if notice.present? %>
      <p class="alert alert-info""><%= notice %></p>
      <% end %>
      <% if alert.present? %>
     <p class="alert alert-danger"><%= alert %></p>
     <% end %>


    <%= yield %>
    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
          <b>Leads</b>
          <br/>
          <%= link_to 'Share an Adventure', new_instructor_course_path%>
          <br/>
          <%=link_to 'My Dashboard', dashboard_path %>
          </div>
          <div class="col-12 col-sm-3">
          <b>About</b>
          <br/>
          <%= link_to 'Team', '#' %>
          <br/>
          <%= link_to 'Careers', '#' %>
          <br/>
          <%= link_to 'Privacy Policy', privacy_path %>
        </div>
        <div class="col-12 col-sm-3">
          <b>Contact</b>
          <br/>
          <span style="color:white">asya.asha@gmail.com</span>
          <br/>
          <span style="color:white">LA / NY</span>
          <br/>
          
        </div>
        <div class="col-12 col-sm-3 social">
          <b>Social</b>
          <br/>
          <br/>
          <%= link_to 'http://gihub.com/asyaasha' do %>
            <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
           <%= link_to 'http://facebook.com/kalyasina' do %>
             <span class="fa fa-facebook-square fa-2x social-button"></span>
          <% end %>
           <%= link_to 'http://twitter.com/asiya_asha' do %>
            <span class="fa fa-twitter-square fa-2x social-button"></span>
          <% end %>
        </div>
       </div>
      </div>
     </div>
    </div>
  </div>
 <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
 <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

 </body>
</html>






















